# Ignore all files in the build directory
build/
dist/

.venv/
.venv*/
venv*/

.pytest_cache/
.mypy_cache/
__pycache__/
*.pyc

.DS_Store

.ipynb_checkpoints/

data/
wandb/
.vscode/

# Checkpoints
checkpoints/

# Tokenizer
tokenizer/models/
*.model
*.vocab